@use  './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

$pagination-active-bg:grey !default;
$pagination-color:black !default;
$pagination-active-color:white !default;
$pagination-active-border-color: grey !default;
@import "~bootstrap/scss/bootstrap.scss";


#admin{
   height: 100vh;
   overflow: hidden;
   display:flex;
//    .btn.btn-primary{
//     background-color: var(--bs-orange);
//     border-color:var(--bs-orange);
//    }
   #sidebar{
      background-color: $black;
      color: $white;
   }

   #wrapper{
        flex-grow: 1;


        header{
            min-height:70px;

            .img-profile {
                height:2rem;
                width:2rem;
            }
        }
    }
}
